{% extends 'main/base.html' %}
{% load static %}

{% block title %}Features - AI.Tech{% endblock %}

{% block content %}
<!-- ======= Features Section ======= -->
<section id="feature" class="feature">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Features</h2>
      <p>Discover our key features</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-star"></i></div>
          <h4><a href="#">Feature One</a></h4>
          <p>Detail description for feature one.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-planet"></i></div>
          <h4><a href="#">Feature Two</a></h4>
          <p>Detail description for feature two.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4><a href="#">Feature Three</a></h4>
          <p>Detail description for feature three.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
